
body {
  margin: 50px  auto;
  width: 85%;
  background-color:lightgray
  
}
h1,h5{
 color:white
}
h6{
color:darkturquoise;
}
/* button :hover{
 transform: translateY(-9px);
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */

header {
	align-self: auto;
}

section {

 width:100%;
 background-color:snow;
 border-radius: 10px;
 margin-bottom: 30px;
 /*box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2)*/
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.my-nav > .navbar-brand {
	color: darkturquoise;
	z-index: 1000
	
}

.page__header {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#top-part {	
	min-height: 300px;
	width: 100%;
	background-color:darkturquoise;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	/* border-top-left-radius: 10px;
	border-top-right-radius: 10px; */
	/* background-color: black; */
	margin:auto	
	/* border:4px solid darkturquoise; */	
}

#avatar {
	width: 200px;
	height: 200px;
	border: 5px solid white
}
.photo :hover {
	transform: translateY(-9px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info-list li {
    margin: 6px 10px;
    text-align: left;
}
.info-list li .title {
    display: inline-block;
    min-width: 100px;
}
.btn-group {
	
      display: table;
      margin: 0 auto
}

.btn-group .btn{
	background-color: transparent;
}


.btn-group .btn img{
	width: 30px;
	height: 30apx
}

div.title {
	min-width: 200px
}

#bottom-part {

	margin:30px 15px;

}

/* page2 */
#resume-panel {	
	min-height: 100px;
	width: 100%;
	 background-color:darkturquoise;
	margin:auto	
}

.sub-title{
	margin: 25px;
}
.resume-exp {
    margin: 20px 20px;
    padding: 20px;	
}
.exp-item {
    padding: 25px;
	border-left: 2px solid darkturquoise;
	/* background-color: black; */
	/* border-right: 2px solid lightgray;
	border-top: 2px solid lightgray;
	border-bottom: 2px solid lightgrey; */
    margin-bottom: 20px;
	background-color: snow;
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2)
}


.exp-item p{
	color:gray
}
.circle {
	height: 14px;
	width: 14px;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	background: darkturquoise;
	float: left;
	position: absolute;
	left: 20px;
	
}
.circle:after{
    content: '';
    display: inline-block;
    position: absolute;
    background-color: darkturquoise;
    border-radius: 30px;
    width: 29px;
    height: 2px;
    top: 5px;
    left: 7px;
    z-index: 1;
}

.skill-bar {
    height: 17px;
    background: darkturquoise;
    -webkit-border-radius: 20px 0 0 20px;
    border-radius: 20px 0 0 20px;
}
.skill-bar-wrap {
    height: 17px;
	/* width: 150px; */
	width:60%;
    background:lightgray;
    display: inline-block;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}
.skill-name {
    width: 100px;
    font-size: 14px;
    display: inline-block;
    left: 25px;
    top: -3px;
}
.skill-type {

	height: 40px;
    margin: 40px 0px 0px 0px;
}

/* page3 */
#project-panel {	
	min-height: 100px;
	width: 100%;
	 background-color:darkturquoise;
	margin:auto	
}